In [4]:
import pandas as pd

series_url = 'http://download.bls.gov/pub/time.series/la/la.series'
# http://www.bls.gov/lau/ssamatab2.txt

# Areas and area codes
# http://download.bls.gov/pub/time.series/la/la.area

# Area types
# http://download.bls.gov/pub/time.series/la/la.area_type

# Measure code
# http://download.bls.gov/pub/time.series/la/la.measure

df = pd.read_csv(series_url, sep='\t', dtype='unicode')
df_unemployment = df[df['measure_code'] == '03']
df_unemployment

,series_id,area_type_code,area_code,measure_code,seasonal,srd_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
0,LASBS060000000000003,L,BS0600000000000,03,S,06,"Unemployment Rate: Balance of California, stat...",,1976,M01,2018,M05
4,LASBS120000000000003,L,BS1200000000000,03,S,12,"Unemployment Rate: Balance of Florida, state l...",,1990,M01,2018,M05
8,LASBS170000000000003,L,BS1700000000000,03,S,17,"Unemployment Rate: Balance of Illinois, state ...",,1994,M01,2018,M05
12,LASBS260000000000003,L,BS2600000000000,03,S,26,"Unemployment Rate: Balance of Michigan, state ...",,1990,M01,2018,M05
16,LASBS360000000000003,L,BS3600000000000,03,S,36,"Unemployment Rate: Balance of New York, state ...",,1976,M01,2018,M05
20,LASBS390000000000003,L,BS3900000000000,03,S,39,"Unemployment Rate: Balance of Ohio, state less...",,1990,M01,2018,M05
24,LASBS530000000000003,L,BS5300000000000,03,S,53,"Unemployment Rate: Balance of Washington, stat...",,1990,M01,2018,M05
28,LASCT365100000000003,G,CT3651000000000,03,S,36,"Unemployment Rate: New York city, NY (S)",,1976,M01,2018,M05
32,LASDV063108400000003,C,DV0631084000000,03,S,06,Unemployment Rate: Los Angeles-Long Beach-Glen...,,1976,M01,2018,M05
36,LASDV123312400000003,C,DV1233124000000,03,S,12,"Unemployment Rate: Miami-Miami Beach-Kendall, ...",,1990,M01,2018,M05
40,LASDV171697400000003,C,DV1716974000000,03,S,17,Unemployment Rate: Chicago-Naperville-Arlingto...,,1994,M01,2018,M05
44,LASDV534264400000003,C,DV5342644000000,03,S,53,"Unemployment Rate: Seattle-Bellevue-Everett, W...",,1990,M01,2018,M05
48,LASMT261982000000003,B,MT2619820000000,03,S,26,"Unemployment Rate: Detroit-Warren-Dearborn, MI...",,1990,M01,2018,M05
52,LASMT391746000000003,B,MT3917460000000,03,S,39,"Unemployment Rate: Cleveland-Elyria, OH Metrop...",,1990,M01,2018,M05
56,LASRD810000000000003,N,RD8100000000000,03,S,80,Unemployment Rate: New England division (S),,1976,M01,2018,M05
60,LASRD820000000000003,N,RD8200000000000,03,S,80,Unemployment Rate: Middle Atlantic division (S),,1976,M01,2018,M05
64,LASRD830000000000003,N,RD8300000000000,03,S,80,Unemployment Rate: East North Central division...,,1976,M01,2018,M05
68,LASRD840000000000003,N,RD8400000000000,03,S,80,Unemployment Rate: West North Central division...,,1976,M01,2018,M05
72,LASRD850000000000003,N,RD8500000000000,03,S,80,Unemployment Rate: South Atlantic division (S),,1976,M01,2018,M05
76,LASRD860000000000003,N,RD8600000000000,03,S,80,Unemployment Rate: East South Central division...,,1976,M01,2018,M05
80,LASRD870000000000003,N,RD8700000000000,03,S,80,Unemployment Rate: West South Central division...,,1976,M01,2018,M05
84,LASRD880000000000003,N,RD8800000000000,03,S,80,Unemployment Rate: Mountain division (S),,1976,M01,2018,M05
88,LASRD890000000000003,N,RD8900000000000,03,S,80,Unemployment Rate: Pacific division (S),,1976,M01,2018,M05
92,LASRD910000000000003,M,RD9100000000000,03,S,80,Unemployment Rate: Northeast region (S),,1976,M01,2018,M05
96,LASRD920000000000003,M,RD9200000000000,03,S,80,Unemployment Rate: Midwest region (S),,1976,M01,2018,M05
100,LASRD930000000000003,M,RD9300000000000,03,S,80,Unemployment Rate: South region (S),,1976,M01,2018,M05
104,LASRD940000000000003,M,RD9400000000000,03,S,80,Unemployment Rate: West region (S),,1976,M01,2018,M05
108,LASST010000000000003,A,ST0100000000000,03,S,01,Unemployment Rate: Alabama (S),,1976,M01,2018,M05
112,LASST020000000000003,A,ST0200000000000,03,S,02,Unemployment Rate: Alaska (S),,1976,M01,2018,M05
116,LASST040000000000003,A,ST0400000000000,03,S,04,Unemployment Rate: Arizona (S),,1976,M01,2018,M05
...,...,...,...,...,...,...,...,...,...,...,...,...
33288,LAUST260000000000003,A,ST2600000000000,03,U,26,Unemployment Rate: Michigan (U),,1976,M01,2018,M05
33292,LAUST270000000000003,A,ST2700000000000,03,U,27,Unemployment Rate: Minnesota (U),,1976,M01,2018,M05
33296,LAUST280000000000003,A,ST2800000000000,03,U,28,Unemployment Rate: Mississippi (U),,1976,M01,2018,M05
33300,LAUST290000000000003,A,ST2900000000000,03,U,29,Unemployment Rate: Missouri (U),,1976,M01,2018,M05
33304,LAUST300000000000003,A,ST3000000000000,03,U,30,Unemployment Rate: Montana (U),,1976,M01,2018,M05
33308,LAUST310000000000003,A,ST3100000000000,03,U,31,Unemployment Rate: Nebraska (U),,1976,M01,2018,M05
33312,LAUST320000000000003,A,ST3200000000000,03,U,32,Unemployment Rate: Nevada (U),,1976,M01,2018,M05
33316,LAUST330000000000003,A,ST3300000000000,03,U,33,Unemployment Rate: New Hampshire (U),,1976,M01,2018,M05
33320,LAUST340000000000003,A,ST3400000000000,03,U,34,Unemployment Rate: New Jersey (U),,1976,M01,2018,M05
33324,LAUST350000000000003,A,ST3500000000000,03,U,35,Unemployment Rate: New Mexico (U),,1976,M01,2018,M05
33328,LAUST360000000000003,A,ST3600000000000,03,U,36,Unemployment Rate: New York (U),,1976,M01,2018,M05
33332,LAUST370000000000003,A,ST3700000000000,03,U,37,Unemployment Rate: North Carolina (U),,1976,M01,2018,M05
33336,LAUST380000000000003,A,ST3800000000000,03,U,38,Unemployment Rate: North Dakota (U),,1976,M01,2018,M05
33340,LAUST390000000000003,A,ST3900000000000,03,U,39,Unemployment Rate: Ohio (U),,1976,M01,2018,M05
33344,LAUST400000000000003,A,ST4000000000000,03,U,40,Unemployment Rate: Oklahoma (U),,1976,M01,2018,M05
33348,LAUST410000000000003,A,ST4100000000000,03,U,41,Unemployment Rate: Oregon (U),,1976,M01,2018,M05
33352,LAUST420000000000003,A,ST4200000000000,03,U,42,Unemployment Rate: Pennsylvania (U),,1976,M01,2018,M05
33356,LAUST440000000000003,A,ST4400000000000,03,U,44,Unemployment Rate: Rhode Island (U),,1976,M01,2018,M05
33360,LAUST450000000000003,A,ST4500000000000,03,U,45,Unemployment Rate: South Carolina (U),,1976,M01,2018,M05
33364,LAUST460000000000003,A,ST4600000000000,03,U,46,Unemployment Rate: South Dakota (U),,1976,M01,2018,M05
33368,LAUST470000000000003,A,ST4700000000000,03,U,47,Unemployment Rate: Tennessee (U),,1976,M01,2018,M05
33372,LAUST480000000000003,A,ST4800000000000,03,U,48,Unemployment Rate: Texas (U),,1976,M01,2018,M05
33376,LAUST490000000000003,A,ST4900000000000,03,U,49,Unemployment Rate: Utah (U),,1976,M01,2018,M05
33380,LAUST500000000000003,A,ST5000000000000,03,U,50,Unemployment Rate: Vermont (U),,1976,M01,2018,M05
33384,LAUST510000000000003,A,ST5100000000000,03,U,51,Unemployment Rate: Virginia (U),,1976,M01,2018,M05
33388,LAUST530000000000003,A,ST5300000000000,03,U,53,Unemployment Rate: Washington (U),,1976,M01,2018,M05
33392,LAUST540000000000003,A,ST5400000000000,03,U,54,Unemployment Rate: West Virginia (U),,1976,M01,2018,M05
33396,LAUST550000000000003,A,ST5500000000000,03,U,55,Unemployment Rate: Wisconsin (U),,1976,M01,2018,M05
33400,LAUST560000000000003,A,ST5600000000000,03,U,56,Unemployment Rate: Wyoming (U),,1976,M01,2018,M05
33404,LAUST720000000000003,A,ST7200000000000,03,U,72,Unemployment Rate: Puerto Rico (U),,1976,M01,2018,M05

In [6]:
df_unemployment.series_title

0        Unemployment Rate: Balance of California, stat...
4        Unemployment Rate: Balance of Florida, state l...
8        Unemployment Rate: Balance of Illinois, state ...
12       Unemployment Rate: Balance of Michigan, state ...
16       Unemployment Rate: Balance of New York, state ...
20       Unemployment Rate: Balance of Ohio, state less...
24       Unemployment Rate: Balance of Washington, stat...
28                Unemployment Rate: New York city, NY (S)
32       Unemployment Rate: Los Angeles-Long Beach-Glen...
36       Unemployment Rate: Miami-Miami Beach-Kendall, ...
40       Unemployment Rate: Chicago-Naperville-Arlingto...
44       Unemployment Rate: Seattle-Bellevue-Everett, W...
48       Unemployment Rate: Detroit-Warren-Dearborn, MI...
52       Unemployment Rate: Cleveland-Elyria, OH Metrop...
56             Unemployment Rate: New England division (S)
60         Unemployment Rate: Middle Atlantic division (S)
64       Unemployment Rate: East North Central division...
68       Unemployment Rate: West North Central division...
72          Unemployment Rate: South Atlantic division (S)
76       Unemployment Rate: East South Central division...
80       Unemployment Rate: West South Central division...
84                Unemployment Rate: Mountain division (S)
88                 Unemployment Rate: Pacific division (S)
92                 Unemployment Rate: Northeast region (S)
96                   Unemployment Rate: Midwest region (S)
100                    Unemployment Rate: South region (S)
104                     Unemployment Rate: West region (S)
108                         Unemployment Rate: Alabama (S)
112                          Unemployment Rate: Alaska (S)
116                         Unemployment Rate: Arizona (S)
                               ...
33288                      Unemployment Rate: Michigan (U)
33292                     Unemployment Rate: Minnesota (U)
33296                   Unemployment Rate: Mississippi (U)
33300                      Unemployment Rate: Missouri (U)
33304                       Unemployment Rate: Montana (U)
33308                      Unemployment Rate: Nebraska (U)
33312                        Unemployment Rate: Nevada (U)
33316                 Unemployment Rate: New Hampshire (U)
33320                    Unemployment Rate: New Jersey (U)
33324                    Unemployment Rate: New Mexico (U)
33328                      Unemployment Rate: New York (U)
33332                Unemployment Rate: North Carolina (U)
33336                  Unemployment Rate: North Dakota (U)
33340                          Unemployment Rate: Ohio (U)
33344                      Unemployment Rate: Oklahoma (U)
33348                        Unemployment Rate: Oregon (U)
33352                  Unemployment Rate: Pennsylvania (U)
33356                  Unemployment Rate: Rhode Island (U)
33360                Unemployment Rate: South Carolina (U)
33364                  Unemployment Rate: South Dakota (U)
33368                     Unemployment Rate: Tennessee (U)
33372                         Unemployment Rate: Texas (U)
33376                          Unemployment Rate: Utah (U)
33380                       Unemployment Rate: Vermont (U)
33384                      Unemployment Rate: Virginia (U)
33388                    Unemployment Rate: Washington (U)
33392                 Unemployment Rate: West Virginia (U)
33396                     Unemployment Rate: Wisconsin (U)
33400                       Unemployment Rate: Wyoming (U)
33404                   Unemployment Rate: Puerto Rico (U)
Name: series_title, Length: 8352, dtype: object

In [3]:
df_unemployment.describe()

,series_id,area_type_code,area_code,measure_code,seasonal,srd_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
count,8352,8352,8352,8352,8352,8352,8352,8352,8352,8352,8352,8352
unique,8352,14,8273,1,2,53,8300,2,19,1,3,3
top,LAUCT080928000000003,F,DV5342644000000,03,U,23,"Unemployment Rate: Poquoson city, VA (U)",,1990,M01,2018,M04
freq,1,3222,2,8352,8273,573,2,8349,7629,8352,7928,7765

In [ ]:
import requests
import json
import prettytable
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['LAUCN360610000000003','LAUCN360630000000003'],"startyear":"1990", "endyear":"2015"})
p = requests.post('http://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [ ]:
json_data['Results']['series'][0].keys()

In [ ]:
df = []
for series in json_data['Results']['series']:
    seriesId = series['seriesID']
    df_series = pd.DataFrame(series['data'], dtype=float)
    df_series["seriesId"] = seriesId
    df.append({'series': seriesId, 'dataframe': df_series})

In [ ]:
%matplotlib inline
df[0]["dataframe"]["value"].plot()

In [10]:
!curl https://raw.githubusercontent.com/python-visualization/folium/master/examples/us_counties_20m_topo.json -o us_counties_20m_topo.json
!curl https://raw.githubusercontent.com/python-visualization/folium/master/examples/us_county_data.csv -o us_county_data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  729k  100  729k    0     0   724k      0  0:00:01  0:00:01 --:--:--  724k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  175k  100  175k    0     0   758k      0 --:--:-- --:--:-- --:--:--  756k

In [19]:

import folium
import pandas as pd
from IPython.display import display

county_data = r'us_county_data.csv'
county_geo = r'us_counties_20m_topo.json'

#Read into Dataframe, cast to string for consistency
df = pd.read_csv(county_data, na_values=[' '])
df['FIPS_Code'] = df['FIPS_Code'].astype(str)


def set_id(fips):
    '''Modify FIPS code to match GeoJSON property'''
    if fips == '0':
        return None
    elif len(fips) <= 4:
        return ''.join(['0500000US0', fips])
    else:
        return ''.join(['0500000US', fips])

#Apply set_id, drop NaN
df['GEO_ID'] = df['FIPS_Code'].apply(set_id)
df = df.dropna()

map_3 = folium.Map(location=[40, -99], zoom_start=4)
map_3.geo_json(geo_path=county_geo, data_out='data3.json', data=df,
               columns=['GEO_ID', 'Median_Household_Income_2011'],
               key_on='feature.id',
               fill_color='PuRd', line_opacity=0.3,
               legend_name='Median Household Income 2011 ($)',
               topojson='objects.us_counties_20m')
#map_3.create_map(path='map_3.html')

display(map_3)

KeyError: u'0500000US72013'

In [16]:
import folium
map_osm = folium.Map(location=[45.5236, -122.6750])
display(map_osm)